.header{
    text-align: center;
}

.modal{
    text-align: center;
    margin: auto;
    margin-top: 2em;
    padding-bottom: 2em;
    display: none;
    height: 50%;
    width: 50%;
    z-index: 1;
    border-style: double;
    border-radius: 5%;
    background-color: cornflowerblue;
}

.create-task{
    text-align: center;
}

.close{
    color: grey;
    float: right;
    padding-right: 1em;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    cursor: pointer;
    font-weight: 300;
}

#tasks{
    text-align: center;
    flex-direction: column;
}

.task{
    margin: auto;
    margin-top: 1em;
    padding-left: 0.5em;
    text-align: left;
    float: none;
    border-color: grey;
    border-radius: 5%;
    height: 50%;
    width: 25%;
    border-style: groove;
    overflow: scroll;
}

.trash{
    position: fixed;
    margin-right: 0.5em;
    float: right;
}